# .travis.yml
language: node_js

node_js:
  - "lts/*"

os: windows

branches:
  only:
    - master

install:
  - npm install

cache:
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

script:
  - npm run-script dist

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: build/Webtoon_Downloader.exe
  skip_cleanup: true